pipeline/11_Case_Activity.json
{
	"name": "11_Case_Activity",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct country from ADDRESS_COMMON",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Dynamic_Table",
						"type": "DatasetReference",
						"parameters": {
							"tbl_name": "ADDRESS_COMMON"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@toUpper(item().country)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "INDIA",
										"activities": [
											{
												"name": "Copy data2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "SELECT * FROM ADDRESS_COMMON WHERE COUNTRY='INDIA';",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "NAME",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "NAME",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ADDRESS",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "ADDRESS",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CITY",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "CITY",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "COUNTRY",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "COUNTRY",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Dynamic_Table",
														"type": "DatasetReference",
														"parameters": {
															"tbl_name": "ADDRESS_COMMON"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Dynamic_Table",
														"type": "DatasetReference",
														"parameters": {
															"tbl_name": "ADDRESS_INDIA"
														}
													}
												]
											}
										]
									},
									{
										"value": "USA",
										"activities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "SELECT * FROM ADDRESS_COMMON WHERE COUNTRY='USA';",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Dynamic_Table",
														"type": "DatasetReference",
														"parameters": {
															"tbl_name": "ADDRESS_COMMON"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Dynamic_Table",
														"type": "DatasetReference",
														"parameters": {
															"tbl_name": "ADDRESS_USA"
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Copy data3",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": "SELECT * FROM ADDRESS_COMMON WHERE COUNTRY NOT IN('USA','INDIA');",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_Dynamic_Table",
												"type": "DatasetReference",
												"parameters": {
													"tbl_name": "ADDRESS_COMMON"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Dynamic_Table",
												"type": "DatasetReference",
												"parameters": {
													"tbl_name": "ADDRESS_OTHERS"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-09T19:42:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}